.part_container {
    position: relative;
    height: 32px;
    margin-top: 12px;
}

.part_selector {
    position: absolute;
}

.part {
    background: url(./images/item.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 21px;
    top: -10px;
    width: 47px;
    height: 47px;
    z-index: 1;
}

.part_img_container {
    width: 33px;
    height: 33px;
    left: 7px;
    top: 7px;
    position: absolute;
    overflow: hidden;
}

.part img {
    z-index: 2;
}

.part_container:nth-child(1) img {
    position: absolute;
    top: -18px;
    left: -13px;
}

.part_container:nth-child(2) img {
    position: absolute;
    top: 0px;
    left: 2px;
}

.part_container:nth-child(3) img {
    position: absolute;
    top: -49px;
    left: -16px;
}

.part_container:nth-child(4) img {
    position: absolute;
    top: -68px;
    left: -16px;
}

.part_container:nth-child(5) img {
    position: absolute;
    top: -81px;
    left: -19px;
}

.control {
    position: relative;
    z-index: 2;
    top: -1px;
}

.control button {
    width: 26px;
    height: 30px;
    border: 0px;
    font-size: 0px;
    cursor: pointer;
    position: absolute;
}

.control button:focus {
    outline: 0;
}

.control_prev button {
    background: url(./images/item_left.png);
}

.control_next button {
    background: url(./images/item_right.png);
    left: 64px;
}

.part_color_selector {
    position: absolute;
    right: 21px;
}

.part_color_selector {
    position: absolute;
}

.part_color_selector button {
    border: 0px;
    width: 19px;
    height: 30px;
    font-size: 0px;
    top: 1px;
    position: absolute;
    cursor: pointer;
}

.part_color_selector button:focus {
    outline: 0;
}

.part_color_selector .color_next button {
    left: 122px;
    background: url(./images/color_right.png);
}

.part_color_selector .color_prev button {
    left: -20px;
    background: url(./images/color_left.png);
}

.part_color_selector ul {
    background: url(./images/color_empty.png);
    height: 30px;
    width: 120px;
    padding: 0px;
    margin: 0px;
}

.part_color_selector li {
    position: relative;
    left: 0px;
    width: 15px;
    height: 15px;
    float: left;
    padding: 0px;
    margin: 0px;
    font-size: 0px;
    background-image: url(./images/color_inactive.png);
    z-index: 0;
}

.part_color_selector li span {
    display: block;
    cursor: pointer;
    margin-left: 2px;
    margin-top: 2px;
    width: 11px;
    height: 11px;
    background-image: url(./images/color_effect.png);
}

.part_color_selector li span i {
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    width: 11px;
    height: 11px;
    background-image: url(./images/color_effect.png)
}

.part_color {}

.part_color_active {
    z-index: 1 !important;
}

.part_color_active span {
    display: block !important;
    margin-left: -1px !important;
    margin-top: -1px !important;
    width: 10px !important;
    height: 10px !important;
    border: 4px solid transparent;
    border-image: url(./images/color_active.png) 4 fill;
    background-repeat: no-repeat;
    z-index: 1;
}

.part_color_active span i {
    width: 9px !important;
    height: 9px !important;
    background-position: -1px -1px !important;
}